/*****************************/
/* GENERAL REUSABLE COMPONENTS */
/*****************************/

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  /* color: #45260a; */
  /* color: #343a40; */
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.heading-tertiary {
 font-size: 3rem;
 line-height: 1.2rem;
 margin-bottom: 3.2rem;
}

.btn:link, 
btn:visited {
  display: inline-block;
  /* background-color: #e67e22; */
  /* color: #fff; */
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  font-weight: 600;

  /* Put transition on original "state" */
  transition: background-color 0.3s;
} 

.btn--full:link, 
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover, 
.btn--full:active {
  background-color: #cf711f;
}

/* .btn--outline .arrow {
  font-size: inherit;
  font-weight: inherit;
} */

.btn--outline:link, 
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover, 
.btn--outline:active {
  background-color: #fdf2e9;
  /* border: 3px solid #fff; */  /* This is affecting layout so */
  /* Trick to add border inside a box */
  box-shadow: inset 0 0 0 3px #fff;
}

.margin-right-sm {
  margin-right: 1.6rem;
}


.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid-center-v {
    align-items: center;
}

strong {
  font-weight: 500;
}