/*  

--- 01 TYPOGRAPHY SYSTEM

- FONT SIZE SYSTEM(px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph Default: 1.6

- Letter spacing
0.5px
0.75px

--- 02 COLORS
- Primary: #e67e22
- Tints: 
#fdf2e9
#fae5de
- Shades: #cf711f
- Accents:
- Greys:
#555
#333

--- 03 SHADOWS

--- 04 BORDER-RADIUS
Default: 9px

--- 05 WHITESPACE

SPACING SYSTEM(PX)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 120

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/*****************************/
/* HEADER */
/*****************************/

.logo {
  height: 2.2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
}

/*****************************/
/* NAVIGATION */
/*****************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/*****************************/
/* HERO SECTION */
/*****************************/

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  margin: 0 auto;
  padding: 3.2rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  margin-top: 8rem;
  gap: 1.6rem;
  align-items: center;
  /* flex-direction: column; */
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
 height: 4.8rem;
 width: 4.8rem;
 border-radius: 50%;
 margin-right: -1.6rem;
 border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin-right: unset;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span{
  color: #cf711f;
  font-weight: 700;
}

/*****************************/
/* HOW IT WORKS */
/*****************************/

.section-how {
  padding: 9.6rem 0;
  /* background-color: orangered; */
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;

}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  /* height: 60%; */
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}

.step-img-box::after {
  width: 50%;
  /* height: 60%; */
  padding-bottom: 50%;
  background-color: #fae5de;
  z-index: -1;
}

.step-img {
  width: 35%;
}




